.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: #0F172A;
    border-bottom: 1px solid rgba(139, 92, 246, 0.2);
}

.logo{
    color: #fff;
    transition: color .3s ease;
}

.logo:hover{
    color: #C4B5FD;
}
.center{
    display: flex;
    gap: 30px;
}

.nav-link{
    position: relative;
    text-decoration: none;
    color: #F8FAFC;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s ease;
}

.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: #22D3EE;
    border-radius: 10px;
    transition: 0.3s ease;
}

.nav-link:hover{
    color: #22D3EE;
}

.nav-link:hover::after{
    width: 100%;
}

/* Tablet */

@media (max-width:768px){

    .navbar{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .center{
        margin-top: 15px;
        gap: 18px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo{
        font-size: 24px;
    }

}

/* Mobile */

@media (max-width:480px){

    .center{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .nav-link{
        font-size: 16px;
    }

}